In [6]:
from pycaret.classification import *
from sklearn.model_selection import train_test_split


import pandas as pd
import os

ModuleNotFoundError: No module named 'pycaret'

In [25]:
ROOT_DIR = "./"
RANDOM_STATE = 200

train_data = pd.read_csv(os.path.join(ROOT_DIR, "train.csv"))

In [26]:
df_normal = train_data[train_data["target"] == "Normal"]
df_abnormal = train_data[train_data["target"] == "AbNormal"]

normal_ratio = 1.0

num_normal = len(df_normal)
num_abnormal = len(df_abnormal)

df_normal = df_normal.sample(n=int(num_abnormal * normal_ratio), replace=False, random_state=RANDOM_STATE)
df_concat = pd.concat([df_normal, df_abnormal], axis=0).reset_index(drop=True)


# df_train, df_val = train_test_split(
#     df_concat,
#     test_size=0.3,
#     stratify=df_concat["target"],
#     random_state=RANDOM_STATE,
# )

In [51]:
df_concat.tail()

,Equipment_Dam,Model.Suffix_Dam,Workorder_Dam,CURE END POSITION X Collect Result_Dam,CURE END POSITION Z Collect Result_Dam,CURE END POSITION Θ Collect Result_Dam,CURE SPEED Collect Result_Dam,CURE START POSITION X Collect Result_Dam,CURE START POSITION Θ Collect Result_Dam,DISCHARGED SPEED OF RESIN Collect Result_Dam,...,Head Clean Position Z Collect Result_Fill2,Head Purge Position X Collect Result_Fill2,Head Purge Position Y Collect Result_Fill2,Head Purge Position Z Collect Result_Fill2,Machine Tact time Collect Result_Fill2,PalletID Collect Result_Fill2,Production Qty Collect Result_Fill2,Receip No Collect Result_Fill2,WorkMode Collect Result_Fill2,target
4695,Dam dispenser #2,AJX75334501,3L1XB244-1,1000.0,12.5,90,70,280,90,16,...,50.0,91.8,270,50,85.0,19.7,15,360,1,AbNormal
4696,Dam dispenser #2,AJX75334501,3M1XC484-1,1000.0,12.5,90,70,280,90,16,...,50.0,91.8,270,50,85.0,20.4,11,141,1,AbNormal
4697,Dam dispenser #2,AJX75334501,3I1XA581-1,1000.0,12.5,90,70,280,90,10,...,91.8,270.0,50,85,19.1,10.0,204,1,0,AbNormal
4698,Dam dispenser #1,AJX75334501,3G1X8303-1,240.0,2.5,-90,70,1030,-90,10,...,91.8,270.0,50,85,19.4,8.0,209,1,0,AbNormal
4699,Dam dispenser #2,AJX75334501,4A1XC343-1,1000.0,12.5,90,70,280,90,16,...,50.0,91.8,270,50,85.0,20.0,14,196,1,AbNormal

In [27]:
setup_clf = setup(data=df_concat, target="target", train_size=0.7, session_id=333, fold_shuffle=True)

In [28]:
model = compare_models(sort='F1', fold=10, n_select=5)

In [29]:
tuned_model = [tune_model(i) for i in model]

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [39]:
a = [tuned_model[1], tuned_model[3]]

In [40]:
blended_soft = blend_models(estimator_list=a,
                       fold=10,
                       method="hard",
                       optimize="F1")

Initiated  . . . . . . . . . . . . . . . . . .              18:54:18
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [41]:
final_model = finalize_model(blended_soft)
evaluate_model(final_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [42]:
# Prepare training data
# features = []

# for col in df_train.columns:
#     try:
#         df_train[col] = df_train[col].astype(int)
#         features.append(col)
#     except:
#         continue

test_data = pd.read_csv(os.path.join(ROOT_DIR, "test.csv"))

In [43]:
test_data.loc[:,'Chamber Temp. Judge Value_AutoClave'].nunique()

2

In [44]:
((test_data=='OK').sum()>0).sum()

1

In [45]:
train_columns = train_data.columns
test_data = test_data[train_columns]
#test_data.loc[:,'Chamber Temp. Judge Value_AutoClave'] = test_data.loc[:,'Chamber Temp. Judge Value_AutoClave'].astype(float)

In [46]:
df_test_x = test_data.drop(columns=['target'])

In [47]:
#df_test_x.to_csv('tmp.csv', index=False)

In [48]:
test_pred = predict_model(final_model, data=df_test_x)

[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9

In [49]:
test_pred

,Equipment_Dam,Model.Suffix_Dam,Workorder_Dam,CURE END POSITION X Collect Result_Dam,CURE END POSITION Z Collect Result_Dam,CURE END POSITION Θ Collect Result_Dam,CURE SPEED Collect Result_Dam,CURE START POSITION X Collect Result_Dam,CURE START POSITION Θ Collect Result_Dam,DISCHARGED SPEED OF RESIN Collect Result_Dam,...,Head Clean Position Z Collect Result_Fill2,Head Purge Position X Collect Result_Fill2,Head Purge Position Y Collect Result_Fill2,Head Purge Position Z Collect Result_Fill2,Machine Tact time Collect Result_Fill2,PalletID Collect Result_Fill2,Production Qty Collect Result_Fill2,Receip No Collect Result_Fill2,WorkMode Collect Result_Fill2,prediction_label
0,Dam dispenser #2,AJX75334501,3J1XF767-1,1000.0,12.5,90,70,280,90,10,...,91.800003,270.000000,50,85,19.799999,13.000000,195,1,0,AbNormal
1,Dam dispenser #2,AJX75334501,4B1XD472-2,1000.0,12.5,90,70,280,90,16,...,50.000000,91.800003,270,50,85.000000,19.799999,14,256,1,Normal
2,Dam dispenser #1,AJX75334501,3H1XE355-1,240.0,2.5,-90,70,1030,-90,10,...,91.800003,270.000000,50,85,19.700001,1.000000,98,1,0,AbNormal
3,Dam dispenser #2,AJX75334501,3L1XA128-1,1000.0,12.5,90,70,280,90,10,...,50.000000,91.800003,270,50,85.000000,20.000000,14,0,1,AbNormal
4,Dam dispenser #1,AJX75334501,4A1XA639-1,240.0,2.5,-90,70,1030,-90,16,...,50.000000,91.800003,270,50,85.000000,19.799999,1,215,1,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17356,Dam dispenser #2,AJX75334501,3K1XB597-1,1000.0,12.5,90,70,280,90,10,...,50.000000,91.800003,270,50,85.000000,19.500000,14,131,1,AbNormal
17357,Dam dispenser #2,AJX75334501,4A1XB974-1,1000.0,12.5,90,70,280,90,16,...,50.000000,91.800003,270,50,85.000000,19.799999,12,279,1,Normal
17358,Dam dispenser #1,AJX75334501,3L1XA998-1,240.0,2.5,-90,70,1030,-90,16,...,50.000000,91.800003,270,50,85.000000,20.500000,4,66,1,AbNormal
17359,Dam dispenser #1,AJX75334501,3F1XC376-1,240.0,2.5,-90,70,1030,-90,10,...,91.800003,270.000000,50,85,18.900000,1.000000,117,1,0,AbNormal
17360,Dam dispenser #1,AJX75334501,3J1XC756-1,240.0,2.5,-90,70,1030,-90,10,...,91.800003,270.000000,50,85,19.299999,2.000000,71,1,0,Normal

In [50]:
df_sub = pd.read_csv("../data/submission.csv")
df_sub["target"] = test_pred["prediction_label"]
df_sub.to_csv("../data/automl/submission-4.csv", index=False)